.logo {
  grid-column: 1 / 2;
  margin: auto;
}

.color {
  background-color: #000000;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.color:hover {
  background-color: #333333;
  cursor: pointer;
}