.dashboardcontainer {
    height: calc(100vh - 30px);
    margin: 15px 0px;
    display: grid;
    grid-template-columns: fit-content(150px) auto fit-content(150px);
    grid-column-gap: 15px;
    padding: 15px;
    margin: 0px;
    background-color: var(--dashboard-back);
}

.sidebar {
    height: 100%;
    color: white;
    background-color: var(--dashboard-front);
    border-radius: 15px;
}

.navsidebar {
    grid-column: 1 / 2;
}

.messagessidebar {
    grid-column: 3 / 4;
}

.maincontentcontainer {
    grid-column: 2 / 3;
}

.searchcontainer {
    height: calc(70% - 10px);
    border-radius: 15px;
    margin: 0px 0px 10px 0px;
    background-color: var(--dashboard-front);
}

.managementcontainer {
    background-color: green;
    height: 30%;
    border-radius: 15px;
    background-color: var(--dashboard-front);
    display: grid;
    grid-template-columns: repeat(4, 1fr) 70px; /*  */
}