.message {
    width: 100%; /* removing the margins and border thickness from the width */
    height: 130px;

    display: grid;
    grid-template-columns: 70px 1fr 20px;
    color: var(--text);
    align-items: center;
    justify-items: center;
    background-color: var(--dashboard-front);
}

.message:hover {
    background-color: var(--message-hover);
}

.messagecontent {
    grid-column: 2 / 3;
    height: 100%;
    width: 100%;
    align-self: center;
    display: grid;
    grid-template-rows: 30% 70%;
}

.name {
    font-size: 20px;
    grid-row: 1 / 2;
}

.preview {
    grid-row: 2 / 3;
}

.unreadmarker {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    background-color: var(--secondary-variant);
    grid-column: 3 / 4;
}