.container {
    height: 100%;
    max-height: calc(100vh - 20px);
    display: grid;
    grid-template-rows: 60px 1fr 60px;
}

.headingcontainer {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 10px 1fr;
    align-items: center;
    justify-items: center;
    border-bottom: 2px solid var(--primary);
}

.messagecontainer {
    grid-row: 2 / 3;
    overflow-y: scroll;
    border-bottom: 2px solid var(--primary);
}

.collapsebutton {
    grid-column: 1 / 2;
    margin-left: 20px;
    color: var(--text);
    text-align: left;
}

.collapsebutton:hover {
    cursor: pointer;
}

.heading {
    grid-column: 2 / 3;
    margin: 0px;
    padding: 5%;
    text-decoration: underline;
    font-weight: normal;
    color: var(--text);
}

.collapsed {
    width: 150px;
}

.fullwidth {
    width: 300px;
}

.seemorebutton {
    width: 100%;
    color: var(--text);
    text-align: center;
    grid-row: 3 / 4;
    margin: 0px;
    align-self: center;
}

.hidden {
    display: none;
}