.featurecontainer {
    color: var(--text);
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 5% auto 30% auto;
    max-width: 90%;
}

.heading {
    font-size: 46px;
    font-weight: bold;
    margin: 12px 0px 12px 0px;
}

.subheading {
    font-size: 30px;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: var(--secondary);
    margin: 12px 0px 12px 0px;
}

.description {
    font-size: 16px;
    margin: 12px 0px 12px 0px;
}

.textcontainer {
    grid-column: 1 / 2;
    margin: auto 10% auto 0px;
}

.imagecontainer {
    grid-column: 2 / 3;
    margin: auto 0px auto 10%;
    border-radius: 15px;
}

.image {
    border-radius: 15px;
}