.container {
  height: 100%;
  margin: 120px auto auto auto;
  width: 300px;
  align-items: center;
}

.h2 {
  font-size: 48px;
  color: var(--text);
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--primary);
}

.loginform {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: var(--text);
  margin: auto;
}