.container {
  height: 370px;
  width: 320px;
  background-color: var(--background);
  padding: 100px;
  border-radius: 20px;
  margin: auto;
}

.h2 {
  font-size: 48px;
  color: var(--text);
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--primary);
}

.formcontainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.loginform {
  width: 100%;
}

.input {
  width: 300px;
  height: 45px;
  font-size: 16px;
  border-radius: 10px;
  margin: 10px 0px;
  background-color: var(--background-variant);
  color: var(--text);
  border-color: var(--text-variant);
  border-style: solid;
}

.input:focus {
  outline: none;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
}

.line {
  flex: 1;
  height: 1px;
  background-color: var(--text);
  margin: 0 10px;
}

.text {
  font-size: 16px;
  color: var(--text);
}

.button {
  margin: 20px 0px;
  width: 300px;
  height: 45px;
  font-size: 18px;
  background-color: var(--secondary);
  color: var(--text);
  border: none;
  border-radius: 10px;
}

.button:active {
  background-color: var(--secondary-variant);
}

.button:hover {
  cursor: pointer;
}

.googlebutton {
  margin-left: 29px;
  background-color: var(--background);
  border: none;
}

.googlebutton:hover {
  cursor: pointer;
}

.nav {
  margin: auto;
  width: 250px;
  color: var(--text);
}

.navlink {
  color: var(--text);
}

.logocontainer {
  background-color: var(--background);
  width: 160px;
  height: 80px;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-top: 14px;
  display: block;
  text-decoration: none;
}