.formcontainer {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.loginform {
  width: 100%;
  color: var(--text)
}

.input {
  width: 316px;
  height: 45px;
  font-size: 16px;
  border-radius: 10px;
  margin: 10px 0px;
  background-color: var(--background-variant);
  color: var(--text);
  border-color: var(--text-variant);
  border-style: solid;
}

.input:focus {
  outline: none;
}

.button {
  margin: 10px 0px;
  width: 320px;
  height: 45px;
  font-size: 18px;
  background-color: var(--text-variant);
  color: var(--background);
  border: none;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

.button:hover {
  background-color: var(--text);
  cursor: pointer;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dialog {
  width: 550px;
  height: 550px;
  border-radius: 20px;
  background-color: var(--background);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialogtitle {
  color: var(--text);
  text-align: center;
  width: auto;
}

.closebutton {
  width: auto;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: inherit;
  border: none;
  color: var(--text)
}

.closebutton:hover{
  cursor: pointer;
  color: rgb(250, 50, 50);
}

.dialogform {
  margin-left: 20%;
  margin-top: 30px;
  width: 300px;
  color: var(--text);
}

.container {
  height: 80%;
  width: 100%;
  color: var(--text);
}

.text {
  width: calc(100% - 100px);
  margin: 40px 50px;
  text-align: center;
}

.mailicon {
  margin: 30px 200px 0px 200px;
}

.resendconfirmation {
  text-decoration: underline;
  color: var(--secondary);
}

.resendconfirmation:hover {
  cursor: pointer;
  color: var(--secondary-variant);
}

.showpassword {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.nopassword {
  border-color: var(--text)
}

.badpassword {
  border-color: red;
}

.goodpassword {
  border-color: green;
}

.passwordreqs {
  font-size: 12px;
}

.forgotpassword {
  font-size: 14px;
  margin: none;
  text-decoration: underline;
  color: var(--text);
}

.forgotpassword:hover {
  color: var(--text-variant);
  cursor: pointer;
}
