.textcontainer {
    color: var(--background);
    background-color: var(--text);
    border-radius: 10px;
    border: 3px solid var(--background);
    box-shadow: 3px 3px 3px var(--text);
    width: 700px;
    height: 80px;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 30px;
    top: calc(10%);
    position: relative;
    text-decoration: none;
}

.textcontainer:hover {
    background-color: var(--secondary-variant);
}