.footer {
    background-color: var(--background-variant);
    color: var(--text);
    grid-row: -2 / -1;
    grid-column: 1 / -1;
    width: 100%;
    height: 225px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.heading {
    font-size: 20px;
    margin-top: 40px;
}

.logo {
    grid-column: 1 / 2;
    margin: auto 0px;
}

.aboutus {
    grid-column: 2 / 3;
} 

.contact {
    grid-column: 3 / 4;
}

.legal {
    grid-column: 4 / 5;
}

.links {
    text-decoration: underline;
}

.link {
    color: var(--text);
}