.messagecontainer {
    width: auto;
    max-width: 40%;
    height: auto;
    border-radius: 20px;
    color: var(--text);
    padding: 0px 10px;
    overflow-wrap: break-word;
    margin: 2px 0px;
}

.primarybg {
    background-color: var(--primary);
    align-self: flex-end;
    color: var(--background);
}

.darkbg {
    background-color: var(--dashboard-back);
    align-self: flex-start;
}