.container {
    height: calc(100% - 24px);
    width: calc(100% - 24px);
    border: 2px solid var(--primary);
    border-radius: 10px;
    margin: 10px;
}

.title {
    color: var(--text);
    font-size: 18px;
    text-align: center;
}