.container {
    height: 100%;
    width: auto;
    margin: 120px auto;

}

.h2 {
    font-size: 48px;
    color: var(--text);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--primary);
}