.container {
    height: 97%;
    display: grid;
    grid-template-rows: repeat(8, 50px) 1fr repeat(4, 50px);
    padding-left: 20px;
    padding-top: 10px;
    align-items: center;
    width: 220px;
}

.collapsed {
    width: 80px;
}

.fullsize {
    width: 220px;
}

.logocontainer {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logolarge {
    font-size: 16px;
    width: fit-content;
}

.collapsebutton {
    width: fit-content;
    margin-right: 20px;
    color: var(--text);
}

.collapsebutton:hover {
    cursor: pointer;
}

.colorgradient {
    background-image: linear-gradient(to right, var(--secondary), var(--primary), var(--secondary));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    background-clip: text;
}

.container:nth-child(2) {
    grid-row: 2 / 3;
}

.container:nth-child(3) {
    grid-row: 3 / 4;
}

.container:nth-child(4) {
    grid-row: 4 / 5;
}

.container:nth-child(5) {
    grid-row: 5 / 6;
}

.container:nth-child(6) {
    grid-row: 6 / 7;
}

.container:nth-child(7) {
    grid-row: 7 / 8;
}

.container:nth-child(8) {
    grid-row: 8 / 9;
}

.container:nth-child(9) {
    grid-row: 9 / 10;
}

.container:nth-child(10) {
    grid-row: 10 / 11;
}

.container:nth-child(11) {
    grid-row: 11 / 12;
}

.container:nth-child(12) {
    grid-row: 12 / 13;
}


.item {
    font-size: 14px;
    height: 40px;
    margin: 0px;
    color: var(--text);
}

.divider {
    height: 100%;
}

.item:hover {
    color: var(--primary);
}