@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
  --background: #EFEFEF;
  --background-variant: #FEFEFE;
  --text: #262626;
  --primary: #6200EE;
  --primary-variant: #3700B3;
  --secondary: #03C8DA;
  --secondary-variant: #0485ad;
  --error: #B00020;

  --dashboard-front: #EFEFEF;
  --dashboard-back: #cbcbcb;

  --message-hover: #D7D7D7;

  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1F1F1F;
        --background-variant: #101010;
        --text: #D9D9D9;
        --primary: #BB86FC;
        --primary-variant: #5d23e3;
        --secondary: #01bfac;
        --secondary-variant: #009c8f;
        --error: #CF6679;

        --dashboard-front: #414141;
        --dashboard-back: #1F1F1F;

        --message-hover: #545454;
    }
}

body {
    margin: 0;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
}