.container {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto) 1fr auto; /* pfp, name, community size, niche, content frequency, whitespace, platforms */
    grid-column-gap: 30px;
    align-items: center;
    justify-items: center;
    background-color: var(--dashboard-back);
    margin-top: 10px;
    border-radius: 15px;
    color: var(--text);
}

.name {
    grid-column: 2 / 3;
}

.communitysize {
    grid-column: 3 / 4;
}

.niche {
    grid-column: 4 / 5;
}

.contentfrequency {
    grid-column: 5 / 6;
}

.socials {
    min-width: 50px;
    grid-column: 7 / 8;
}