.footer {
    margin-top: 100px;
    background-color: var(--background-variant);
    color: var(--text);
    grid-row: 9 / 10;
    grid-column: 1 / 3;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.heading {
    font-size: 20px;
    margin-top: 40px;
}

.logo {
    grid-column: 1 / 2;
}

.aboutus {
    grid-column: 2 / 3;
} 

.contact {
    grid-column: 3 / 4;
}

.legal {
    grid-column: 4 / 5;
}

.links {
    text-decoration: underline;
}