.pagecontainer {
  background-color: var(--primary);
  width: 100%;
  /*height: calc(100vh - (100vh - 400px) / 5);
  padding-top: calc((100vh - 400px) / 5);*/
  padding-top: 10px;
  height: calc(100vh - 10px);
}