.pagecontainer {
    display: grid;
    grid-template-rows: 80px auto auto auto;
}

.content {
    grid-row: 3 / 4;
    height: auto;
    background-image: linear-gradient(to right, var(--background) 0%, var(--background) 50%, var(--background-variant) 50%, var(--background-variant) 100%);
}


.pageheading {
    width: 100%;
    text-align: center;
    color: var(--text);
    text-decoration: underline;
    text-decoration-color: var(--primary-variant);
    font-size: 60px;
    font-weight: normal;
}
