.pagecontainer {
    display: grid;
    grid-template-rows: 80px auto auto auto;
}

.content {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
}

.scrollchangecontainer { /* Scrolling will spark fade in-out effect for moving on to the next feature */
    background-color: var(--background-variant);
    grid-column: 2 / 3;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 100px;
}

.regularcontainer {
    grid-column: 1 / 2;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 100px;
}

.pageheading {
    width: 100%;
    text-align: center;
    color: var(--text);
    text-decoration: underline;
    text-decoration-color: var(--primary-variant);
    font-size: 60px;
    font-weight: normal;
}

.image {
    margin: 150px 0px 500px 0px;
    border-radius: 15px;
}