.landingheader {
    background-color: var(--background-variant);
    color: var(--text);
    width: 100%;
    height: 90px;
    position: fixed;
    display: grid;
    grid-template-columns: 180px 1.4fr 3fr 2fr;
    grid-column-gap: 15px;
    top: 0;
    left: 0;
    border-bottom: solid 3px var(--text);
    z-index: 5;
}

.logo {
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
}

.navcontainer {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
}

.features {
    width: calc((100% - 90px) / 2);
    display: inline-flex;
    justify-self: end;
    min-width: 80px;
    max-width: 100px;
    margin-right: 10px;
}

.pricing {
    justify-self: start;
    width: calc((100% - 90px) / 2);
    min-width: 80px;
    max-width: 100px;
    margin-left: 10px;
    margin-right: 40px;
}

.accountcontainer {
    grid-column: 4 / 5;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
}

.signup {
    border-radius: 15px;
    border: 2px solid var(--primary);
    min-width: 80px;
    max-width: 100px;
    margin-right: 10px;
}

.signin {
    border-radius: 15px;
    background-color: var(--primary);
    color: var(--background);
    border: 2px solid var(--primary);
    min-width: 80px;
    max-width: 100px;
    margin-left: 10px;
    margin-right: 40px;
}

.hoverunderline {
    display: inline-block;
    position: relative;
}

.hoverunderline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--primary);
    transition: width 0.2s ease-in;
}

.hoverunderline:hover::after {
    width: 100%;
}

.linkstyles {
    text-decoration: none;
    color: var(--text);
}

.linkstyles:active {
    color: var(--text);
}

.h1 {
    text-align: center;
    font-weight: normal;
    text-align: center;
}

.colorgradient {
    background-image: linear-gradient(to right, var(--secondary), var(--primary), var(--secondary), var(--primary), var(--secondary));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    background-clip: text;
}

.logocontainer {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
}