.pagecontainer {
    height: 100%;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: var(--dashboard-back);
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-column-gap: 5px;
    align-content: center;
}

.navsidebar {
    grid-column: 1 / 2;
}

.messagesidebar {
    grid-column: 2 / 3;
}

.messagescontainer {
    grid-column: 3 / 4;
    background-color: var(--dashboard-front);
    width: 100%;
    height: 100%;
    border-radius: 15px;
}