.pagecontainer {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: var(--dashboard-back);
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-column-gap: 5px;
    align-content: center;
}

.navsidebar {
    grid-column: 1 / 2;
}

.messagesidebar {
    grid-column: 2 / 3;
}