.textcontainer {
    color: var(--background);
    background-color: var(--primary);
    border-radius: 10px;
    box-shadow: 3px 3px 3px #101010;
    width: 700px;
    height: 80px;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 30px;
    top: calc(10%);
    position: relative;
}

.textcontainer:hover {
    background-color: var(--primary-variant);
}