.dashboardcontainer {
    height: calc(100vh - 20px);
    display: grid;
    grid-template-columns: fit-content(150px) auto fit-content(150px);
    grid-column-gap: 5px;
    padding: 10px;
    margin: 0px;
    background-color: var(--dashboard-back);
}

.navsidebar {
    grid-column: 1 / 2;
}

.messagessidebar {
    grid-column: 3 / 4;
}

.maincontentcontainer {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 70% 30%;
    height: 100%;
    max-height: calc(100vh - 20px);
}

.searchcontainer {
    border-radius: 15px;
    margin: 0px 0px 10px 0px;
    background-color: var(--dashboard-front);
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 350px;
}

.managementcontainer {
    border-radius: 15px;
    background-color: var(--dashboard-front);
    display: grid;
    grid-template-columns: repeat(4, 1fr) 70px;
    min-height: 170px;
}