.container {
  margin: 100px auto 0px auto;
  max-height: 100vh;
  max-width: 800px;
  min-width: 200px;
  color: var(--text);
  background-color: var(--background-variant);
  border: 2px solid var(--secondary);
  border-radius: 15px;
  padding: 30px 20px;
}

.heading {
  font-size: 30px;
}

.p {
  font-size: 18px;
  margin: 20px 0px 10px 0px;
}

.label {
  display: block;
  font-size: 18px;
  margin: 20px 0px 10px 0px;
}

.input {
  height: 36px;
  width: 200px;
  font-size: 16px;
  background-color: var(--background);
  border: 2px solid var(--primary);
  border-radius: 15px;
  color: var(--text);
  padding-left: 8px;
}

.input:focus {
  outline: none;
}

/* Remove spinner arrows for numeric inputs */
.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
.input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.button {
  width: 180px;
  height: 45px;
  font-size: 16px;
  margin: 20px calc(50% - 75px);
  color: var(--text);
  background-color: var(--background);
  border-radius: 15px;
  border: 2px solid var(--primary);
}

.button:hover {
  cursor: pointer;
  border-color: var(--primary-variant)
}

.button:focus {
  background-color: var(--background-variant);
}