.container {
    width: 180px;
    height: 60px;
    margin-top: 20px;
    border-radius: 10px;
}

.bgprimary {
    background-color: var(--primary);
}

.bgsecondary {
    background-color: var(--secondary);
}

.text {
    font-size: 18px;
    color: var(--background);
    text-align: center;
}