.container {
    width: 180px;
    height: 60px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #101010;
    display: inline-grid;
    align-items: center;
}

.bgprimary {
    background-color: var(--primary);
}

.bgprimary:hover {
    background-color: var(--primary-variant);
}

.bgsecondary {
    background-color: var(--secondary);
}

.bgsecondary:hover {
    background-color: var(--secondary-variant);
}

.text {
    font-size: 18px;
    color: var(--background);
    text-align: center;
}