.cardcontainer {
    width: 500px;
    height: auto;
    border-radius: 30px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(20px);
    box-shadow: 3px 3px black;
    color: #D9D9D9;
    display: flex;
    font-size: 20px;
}

.tabnav {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    padding: 0px;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--background);
}

.tabnav li {
    color: var(--text);
    margin: auto;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.activetab {
    background-color: var(--text);
    color: var(--background-variant) !important;
    border-radius: 30px;
    height: 36px;
    width: 50%;
    margin: 0px !important;
    transition: all .3s steps(10, jump-start);
    text-decoration: underline;
    border: 2px solid var(--primary);
    margin-bottom: 10px
}

.activetab:hover {
    cursor: pointer;
}

.inactivetab:hover {
    cursor: pointer;
}

.list {
    margin: 20px;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    justify-content: space-around;
}

.list * {
	/*list-style-image: url("../../../../public/homepageResources/checkmark.png");*/
    list-style-type: "\2705";
    list-style-position: inside;
	background-repeat: no-repeat;
	background-size: 10px;
    margin-top: 10px
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: all 2s;
}
